* {
  box-sizing: border-box;
}

body {
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: black;
  margin: 0;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}
p {
  margin: 0 0 14px;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  width: 960px;
  padding: 0 10px 0 10px;
}

.container-top {
  display: flex;
  line-height: 42px;
  width: 100%;
  font-size: 17px;

}

.site-navigation {
  display: flex;
  width: 100%;
  font-size: 17px;
  line-height: 55px;
  margin: 0;
  padding: 0 20px;
}
.site-navigation li {
  flex-grow: 1;
  text-align: center;
}

.main-header-logo {
  font-size: 24px;
  background-color: #ee3643;
  width: 220px;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 0 5px 0 0 #b52933;
}
.top-menu {
  display: flex;
  flex-grow: 1;
  text-align: center;
  margin: 0;
}
.main-header a{
  display: block;
}
.top-menu .order {
  width: 150px;
}
.top-menu .count {
  position: relative;
  padding-left: 50px;
  width: 160px;
}
.top-menu .search {
  flex-grow: 1;
}
.top-menu .favorite {
  position: relative;
  padding-left: 35px;
  width: 150px;
}
.favorite:before {
  content: "";
  position: absolute;
  background-image: url(../img/sprite.png);
  width: 20px;
  height: 20px;
  background-position: -55px -48px;
  left: 25px;
  top: 10px;
  opacity: 0.2;
}
.top-menu .basket {
  padding-left: 30px;
}
.basket:before {
  content: "";
  position: absolute;
  background-image: url(../img/sprite.png);
  width: 20px;
  height: 20px;
  background-position: -8px -48px;
  left: 25px;
  top: 10px;
  opacity: 0.2;
}
.top-menu a:active {
  color: #6a7180;

}
.top-menu a:hover:before {
  opacity: 1;
}
.top-menu a:active:before {
  opacity: 0.2;
}








.header-middle {
  background-color: #f2f6f8;
  padding-bottom: 64px;
}
.header-middle .shop-info{
  display: flex;
  justify-content: space-between;
  padding: 45px 0 39px 0;
}
.logged-out .login-link,
.logged-out .registration {
  padding: 11px 25px;
  font-size: 21px;
  background: white;
  color: black;
  position: relative;
}
.logged-out .login-link {
  padding-left: 46px;
}
.logged-out .login-link:before {
  content: "";
  position: absolute;
  background: url(../img/sprite.png) no-repeat;
  width: 20px;
  height: 20px;
  left: 15px;
  background-position: -201px -97px;
  opacity: 0.2;
}


.header-middle .logged-out{
  width: 34%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.registration {
  margin-left: 10px;
}

.header-middle .logged-out a:hover {
  color: #ee3643;
}
.header-middle .logged-out a:active {
  color: #c5c5c5;
}
.header-middle .logged-out a:hover:before {
  opacity: 1;
}
.header-middle .logged-out a:active:before {
  opacity: 0.2;
}
header ul {
  margin:  0;
  list-style: none;
}
header {
  padding: 0;
}
.header-top {
  background-color: #293449;
  color: #ffffff;

}
.header-top a,
.main-navigation a {
  color: #ffffff;
}
.logged-in {
  width: 34%;
  padding-left: 20px;
}
.login-menu {
  display: flex;
  position: relative;
}
.login-menu a{
  font-size: 16px;
  line-height: 20px;
  color: #32425c;
  text-decoration:underline;
}
.login-menu a:hover {
  color: #ee3643;
}
.login-menu a:active {
  color: #c5c5c5;
}
.login-name {
  position: relative;
  font-size: 21px;
  line-height: 35px;
  padding: 6px 0 5px 47px;
  margin-bottom: 7px;
  color: #000000;
  background-color: white;
}
.login-name:before {
  content: "";
  position: absolute;
  background-image: url("../img/sprite.png");
  background-position: -202px -48px;
  width: 20px;
  height: 20px;
  left: 14px;
  top: 12px;
  opacity: 0.2;
}
.login-name:after {
  content: "";
  position: absolute;
  background-image: url("../img/sprite.png");
  background-position: -204px 3px;
  width: 20px;
  height: 20px;
  right: 10px;
  top: 12px;
  opacity: 0.2;
}
.header-middle .logged-in a:hover:before,
.header-middle .logged-in a:hover:after {
  opacity: 1;
}
.header-middle .logged-in a:active:after,
.header-middle .logged-in a:active:before {
  opacity: 0.2;
}
.header-middle .logged-in a:active {
  color: #c5c5c5;
}
.my-orders {
  padding-left: 18px;
  padding-right: 5px;
}
.login-menu span.point {
  padding-left: 0;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #212a3a;
  margin: 7px 12px 0 10px;
}
.main-navigation {
  padding-right: 4px;
  padding-left: 1px;
  width: 100%;
  background-color: #32425c;
  box-shadow: 0 5px 0 0 #293449;
}

.main-header-logo a:hover,
.main-header-logo a:focus {
  background-color: #ca2c37;
}
.top-menu a:hover,
.top-menu a:hover {
  background-color: #212a3a;
}
.top-menu li:last-child {
  background-color: #63a63e;
}
.top-menu li:last-child a:hover,
.top-menu li:last-child a:focus {
 background-color: #7bd14c;
}
.top-menu li:last-child a:active {
  background-color: #518534;
}

.header-middle .descr {
  color: #ee3643;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  width: 33%;
  padding: 5px 0 0 53px;
  margin: 0;
}

.header-middle .contacts {
  width: 33%;
  padding-left: 10px;
}

.header-middle .phone {
  position: relative;
  width: 270px;
  display: inline-block;
  font-size: 21px;
  line-height: 21px;
  border: 3px solid #ffffff;
  color: #ee3643;
  padding: 12px 45px 8px 71px;
  margin-bottom: 3px;
}
.contacts .phone:before {
  content: "";
  position: absolute;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  left: 10px;
  background-position: -201px -203px;
  top: 50%;
  margin-top: -10px;
}
.header-middle span{
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  padding-left: 10px;
}


.main-navigation a:hover,
.main-navigation a:focus {
  background-color: #293449;
}
.main-navigation a:active {
  background-color: #1d2739;
  opacity: 0.5;
}

.breadcrumbs {
  display: flex;
  position: relative;
  margin: 0px;
  padding: 14px 0 0 0;
}
.breadcrumbs a {
  display: block;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  color: #000000;
  padding: 10px 40px 22px 0;
}


.breadcrumbs li:not(:last-child) a:after {
  content: "";
  position: absolute;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin: 0 15px;
}
h2 {
  font-size: 30px;
  font-weight: 100;
  background-color: #f2f6f8;
  margin: 0;
  padding: 28px 0 27px 28px;
}




























.main-bottom {
  display: flex;
  padding-bottom: 85px;
  justify-content: space-between;
}
h5 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 25px 0;

}
.main-bottom p {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 24px;
  font-weight: 500;
}
.features p:first-of-type {
  margin-bottom: 25px;
}
.features p:last-of-type {
  margin-bottom: 10px;
}
.contact p:first-of-type {
  margin-bottom: 32px;
}
.about-company {
  width: 220px;
  margin-top: 24px;
  text-transform: uppercase;

}
.contact img{
  margin-bottom: 37px;
  text-transform: uppercase;
}
.features li {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 400;
  position: relative;
  padding-left: 35px;
}
.features li:before {
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background: #ee3643;
  position: absolute;
  left: 0;
  top: 17px;
}
.main-bottom div a {
  display: block;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  padding: 12px 40px 10px;
  background: #ee3643;
  border-radius: 5px;
}




/*fooooooooooooooootttttttttttttttttteeeeeeeeeeeeeeeeeeeeerrrrrrrrrrrrrrrrrrrrrrrr*/

.footer-top {
  background: #32425c;
  color: #f3f7f9;
}

.footer-bottom {
  background: #293449;
  color: #f3f7f9;
}

.main-footer-logo {
  font-size: 30px;
  line-height: 63px;
  color: #f3f7f9;
  background-color: #ee3643;
  width: 220px;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 0 5px 0 0 #b52933;
  margin-right: 170px;
}
.container-footer-top {
  display: flex;
}

.footer-top-nav {
  display: flex;
}
.footer-navigation a:hover,
.footer-bot-nav a:hover,
.footer-navigation a:focus,
.footer-bot-nav a:focus {
  text-decoration: underline;
}
.footer-navigation a:active,
.footer-bot-nav a:active {

  text-decoration: none;
}
.footer-navigation {
  display: flex;
  flex-grow: 1;
  font-size: 18px;
  line-height: 24px;
  justify-content: space-between;
  margin: 0;
  align-items: flex-end;
}
.footer-navigation a {
  color: #f3f7f9
}
.footer-bot-nav {
  display: flex;
  font-size: 18px;
  line-height: 24px;
  padding: 33px 0 35px 0;
}
.footer-naf-bot {
  display: flex;
  flex-grow: 1;
  font-size: 18px;
  justify-content: space-between;
  margin: 0;
  align-items: flex-start;
  margin-left: 95px;

}
.footer-naf-bot li a{
  color: #ffd180;
}
.container-footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 16px;
  line-height: 18px;
  padding: 37px 0 20px 0;
}
.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
}

.social-button {
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 42px;
  height: 42px;
  margin: 0 1px;
  border-radius: 50%;
  background-color: #1d2739;
  text-align: center;
}
.social .vk {
  background-position: -143px 11px;
}
.social .fb {
  background-position: -145px -37px;
}
.social .in {
  background-position: -145px -88px;
}

.social-button:hover,
.social-button:active,
.social-button:focus {
  background-color: #b52933;
}
.create {
  display: flex;
  width: 285px;
  justify-content: space-between;
  align-items: center;
  margin: 0 15px 0 0;
}
.create a{
  color: #ffd180;
}
.create a:hover,
.create a:focus {
  text-decoration: underline;
}
.create a:active {
  color: #b52933;
  text-decoration: none;
}
